
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
    margin-top: 100vh ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.rodape p {
    font-size: 14px;
}

.contatos {
    text-align: center;
}

.contatos ul{
    list-style: none;
}

.contatos a{
    margin-left: 70px;
    color: gray;
    text-decoration: none;
}